body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body, html {
    height: 100%;
    margin: 0;
    background-image: url(../src/assets/desktop-background.jpg);
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  main{
    margin-top: 2em;
    margin-bottom: 2em
  }

  #login-page{
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    width: 100vw;
    height: 93vh;
    
  }

  #login-card{
    margin-top: 50px;
  }

  #signup-card{
    margin-top: 10px;
  }

  #colossal-logo{
    margin-top: 0;
  }
#signup-from{
  margin-top: 0;
  padding: 0;
  
}

