body {

    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  html{
    background-image: url(../src/assets/desktop-background.jpg);
    background-size: cover;
    
    
  }

  body, html {
    height: 100%;
    margin: 0;
    
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  main{
    margin-top: 2em;
    margin-bottom: 2em;
    
  }

  /* select {
    display: inline-block;
  } */

  #login-page{
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    width: 100vw;
    /* height: 93vh; */
    
  }

  #login-card{
    margin-top: 50px;
  }

  /* #signup-card{
    margin-top: 10px;
  } */

  #colossal-logo{
    margin-top: 0;
  }
#signup-formm{
  margin-top: 0;
  /* margin-bottom: 2.5rem; */
  padding: 0;
  
}
.main-container{
  position: relative;
  min-height: 100vh
}
#content-wrap{
  padding-bottom: 2.5rem;
}

#footer {
  bottom: 0;
  width: 100%;
  /* height: 2.5rem;            Footer height */
}


@media screen and (min-width: 600px){

}